.login-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 0.3s;
    margin: auto;
    padding: 30px 0 50px 0;
    width: 50%;
    float: none
}

.login-card-m {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    padding: 30px 0 50px 0;
}

.login-container {
    background: #fff;
    padding: 150px 0 0 0;
}

#offline-mode-button {
    padding: 2px;
    font-weight: 45px;
}

.chart-canvas {
    float: right;
    height: 500px;
    width: 1200px;
    border: solid
}

.small-icon {
    height: 50px;
    width: 50px
}

.row-adjusted-margin {
    margin: 10px 0 0 0 !important
}

.row-no-margin {
    margin: 0 0 0 0 !important
}

.no-margin {
    margin: 0 0 0 0 !important
}

.no-padding {
    padding: 0 0 0 0 !important;
}

.shift-down-1rem {
    margin-top: 1rem
}

.shift-down-2rem {
    margin-top: 2rem
}

.shift-down-3rem {
    margin-top: 3rem
}

.shift-down-point5rem {
    margin-top: .5rem
}

.mw-config {}

.mw-console {
    max-height: 500px
}

.mw-console-btn {
    margin: 2px 0 0 0
}

.mw-container {
    position: fixed;
    height: 100%;
    background-color: brown
}

.mw-tab-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 64px;
}

.mw-tab-panes {}

.mw-tab-menu-container {}

.mwv-table-container {
    position: relative;
    padding: 0 0 0 0 !important;
    /* height: 835px; */
    overflow-y: auto;
}

.dashboard {
    min-height: 100vh !important;
}

.dashboard-content {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff;
}

.dev-container {
    position: fixed;
    height: 100%;
    background-color: aqua;
}

.dev-content1 {
    position: relative;
    width: 400px;
    background-color: oldlace;
}

.dev-content2 {
    position: relative;
    width: 400px;
    background-color: rebeccapurple;
}

.dev-content3 {
    position: fixed;
    bottom: 0;
    height: 10px;
    width: 400px;
    background-color: darkblue;
}

.input-field-no-margin-bottom {
    margin: 1rem 0 0 0 !important
}

th {
    padding: 5px 0 5px 10px !important;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0px;
    background-color: #fff
}

td {
    padding: 5px 0 5px 10px !important
}

tr {
    max-height: 30px
}

.icon-container {
    display: inline-block;
    padding: 12px 0 0 5px !important
}

.trade-box {
    min-height: 500px
}

#search-container {
    position: absolute !important;
    display: none;
    left: 0;
    top: 0;
    overflow: visible;
    z-index: 10;
}

.left-panel {
    position: absolute !important;
}